/* ../css/css_simulacao.css */
#contact {
  background: #FFA07A;
  padding: 15px !important;
  margin: 15px;
  width: 860px !important;
  height: 550px;
}

#parametros{
  padding: 5px;
  width: 40%;
  border: 2px solid black;
  height: 90%;
  float: right;
}

#simulacao{
    background-color: antiquewhite !important;
    padding: 5px;
    width: 60%;
    height: 90%;
    border: 2px solid black;
}

/* opçoes em caixa */
p {margin: 20px}

select.basic {
  width: 200px;
  height: 35px;
}
select.simple {
  background: #f5f5f5;
  border: 0;
}
