/* ../css/css_menuadm.css */

#mainNav .navbar-toggler {
    font-size: 80%;
    padding: 0.75rem;
    color:#FFF5EE;
    border: 1px solid#FFF5EE;
  }
  
  #mainNav .navbar-toggler:focus {
    outline: none;
  }
  
  #mainNav .navbar-nav .nav-item:hover {
    color: fade(white, 80%);
    outline: none;
    background-color: transparent;
  }
  
  #mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
    outline: none;
    background-color: transparent;
  }
  
  @media (min-width: 992px) {
    #mainNav {
      padding-top: 0;
      padding-bottom: 0;
      border-bottom: none;
      background-color: #EE3B3B;
    }
    #mainNav .navbar-brand {
      padding: .5rem 0;
      color: #FFF5EE;
    }
    #mainNav .nav-link {
      -webkit-transition: none;
      transition: none;
      padding: 2rem 1.5rem;
      color: #FFF5EE;
    }
    #mainNav .nav-link:hover {
      color: rgba(255, 255, 255, 0.75);
    }
    #mainNav .nav-link:active {
      color: #CDC5BF;
    }
  }
  #about{
      background-color: #CD3333 !important;
  }
   
  body {
    font-family: 'Nunito';
    letter-spacing: 0.0625em;
  }
  